{{!-- Page heading --}}
<section class="section inner-page-heading">
  {{breadcrumbs}}

  <h1 class="section__title section__title--left">{{t 'submit_a_request'}}</h1>
  <div class="section__subscribe subscribe-btn">
    {{follow_up}}
  </div>
</section>

<section class="inner-page">
  <div class="row">
    <div class="col-12 col-md-8">
      <div id="main-content" class="form">
        {{request_form}}
      </div>
    </div>
  </div>
</section>
